apimatic-core==0.2.19
apimatic-core-interfaces==0.1.6
apimatic-requests-client-adapter==0.1.7
asgiref==3.8.1
CacheControl==0.12.14
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==44.0.3
Django==5.2
django-admin-thumbnails==0.2.9
idna==3.10
jsonpickle==3.3.0
jsonpointer==2.4
msgpack==1.1.0
paypal-server-sdk==1.0.0
pillow==11.2.1
pycparser==2.22
pyOpenSSL==25.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
requests==2.32.3
setuptools==80.3.0
six==1.17.0
sqlparse==0.5.3
urllib3==2.4.0
